.main-content{
    height: 100vh; 
    background: url(../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.name{
    font-size: 35px;
    font-weight: bolder;
}


@media(max-width: 768px){
    .main-content{
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -500px;
        background-position-y: center;
    }
    
}